* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar1, .bar2 {
  color: #fff;
  //background: rgba(72, 93, 126, .2);
  background: rgba(68, 14, 99, .25);
  text-shadow: 4px 4px #0f0f0f;
  padding: 3px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  font-size: large;
  color: #ffffff;
  text-shadow: 4px 4px #0f0f0f;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  //background-color: #D35D6E;
  background-color: #436399;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.workspaces button:hover {
  color: #D35D6E;
}
.ws-button-mine {
  color: #d4d4d4;
  background-color: #2b3f61;
  border-radius: 5px;
}
.ws-button-visible {
  color: #d4d4d4;
  background-color: #436399;
  border-radius: 5px;
}
.ws-button-busy {
  color: #436399;
  text-shadow: 4px 4px #d4d4d4;
}
.ws-button {
  font-weight: bold;
  color: #436399;
}

