#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        MainAndDeck,
        EvenHorizontal,
        EvenVertical,
        Fibonacci,
        CenterMainBalanced,
        Monocle,
        RightWiderLeftStack,
        LeftWiderRightStack,
    ],
    layout_mode: Workspace,
    insert_behavior: Bottom,
    scratchpad: [],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    keybind: [
        (command: HardReload, value: "", modifier: ["modkey", "Control"], key: "r"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "q"),
        (command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: FloatingToTile, value: "", modifier: ["modkey"], key: "t"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "f"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: GotoTag, value: "10", modifier: ["modkey"], key: "0"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        (command: MoveToTag, value: "10", modifier: ["modkey", "Shift"], key: "0"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "Right"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "Left"),
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Shift"], key: "e"),
        (command: Execute, value: "/bin/sh -c \'${XDG_DATA_HOME:-$HOME/.local}/bin/toggle_bar.sh\'", modifier: ["modkey", "Shift"], key: "b"),
        (command: Execute, value: "wezterm", modifier: ["modkey"], key: "Return"),
        (command: Execute, value: "wezterm", modifier: ["modkey", "Shift"], key: "Return"),
        (command: Execute, value: "rofi -show run", modifier: ["modkey"], key: "d"),
        (command: Execute, value: "firefox", modifier: ["modkey"], key: "F12"),
        (command: Execute, value: "spotify", modifier: ["modkey"], key: "F11"),
        (command: Execute, value: "steam", modifier: ["modkey"], key: "F10"),
        (command: Execute, value: "flameshot gui", modifier: ["modkey"], key: "Print"),
        (command: Execute, value: "teamspeak3", modifier: ["modkey"], key: "bracketleft"),
        (command: Execute, value: "mumble", modifier: ["modkey"], key: "bracketright"),
        (command: Execute, value: "mumble rpc toggledeaf", modifier: ["modkey", "Shift"], key: "KP_Enter"),
        (command: Execute, value: "pactl set-sink-mute @DEFAULT_SINK@ toggle", modifier: ["modkey"], key: "KP_Multiply"),
        (command: Execute, value: "playerctl --all-players -i chromium,chrome,firefox previous", modifier: ["modkey"], key: "KP_Up"),
        (command: Execute, value: "playerctl --all-players -i chromium,chrome,firefox next", modifier: ["modkey"], key: "KP_Prior"),
        (command: Execute, value: "playerctl --all-players -i chromium,chrome,firefox play-pause", modifier: ["modkey"], key: "KP_Home"),
        (command: Execute, value: "pyslam", modifier: ["modkey"], key: "KP_Add"),
    ],
    state_path: None,
)
